@model LearnWords.Models.WordModel

@{
    ViewData["Title"] = "EditWord";
}

<h2>EditWord</h2>

<h4>WordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWord">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HomeLang" class="control-label"></label>
                <input asp-for="HomeLang" class="form-control" />
                <span asp-validation-for="HomeLang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeLang" class="control-label"></label>
                <input asp-for="ForeLang" class="form-control" />
                <span asp-validation-for="ForeLang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @Html.HiddenFor(m => m.Bads)
            @Html.HiddenFor(m => m.Goods)
            @Html.HiddenFor(m => m.LastAccess)
            @Html.HiddenFor(m => m.Note)
            @Html.HiddenFor(m => m.WordHash)
            @Html.HiddenFor(m => m.Category)
            @Html.HiddenFor(m => m.ImageUrl)
            @Html.HiddenFor(m => m.Picture)
            @Html.HiddenFor(m => m.ReactionTime)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
